<div fxLayout="row" fxLayoutAlign="center center">
  <div class="fatherDiv" fxLayout="row" fxLayoutAlign="start center">

    <dx-button icon="home" [routerLink]="'/home'" stylingMode="text"></dx-button>
    <dx-drop-down-button
      style="min-width: 200px !important;"
      *ngIf="IsLoggedState == true"
      [splitButton]="true"
      [useSelectMode]="false"
      [text]="UserName$ | async"
      icon="user"
      [items]="profileOptions"
      displayExpr="name"
      stylingMode="text"
      keyExpr="id"
      (onButtonClick)="onButtonClick($event)"
      (onItemClick)="onButtonItemClick($event)"
    ></dx-drop-down-button>

  </div>
  <div class="fatherDiv" fxLayout="row" fxLayoutAlign="end center">

    <dx-button icon="increaseindent" *ngIf="IsLoggedState == false" [routerLink]="'/auth/register'" stylingMode="text" text="Register"></dx-button>
    <dx-button icon="key" *ngIf="IsLoggedState == false" [routerLink]="'/auth/signin'" stylingMode="text" text="Login"></dx-button>

  </div>
</div>
