@import "../../../app.component";

.fatherDiv{
  width: 100%;
  height: 50px;
  background-color: $systemBlack;
  margin: 0;
  padding: 0;
}
dx-button{
  margin: 5px;
}
dx-drop-down-button{
  margin-right: 10px;
}
.dx-button-mode-text.dx-button.dx-buttongroup-item {
  border-radius: 4px;
  min-width: 150px;
}
