h1{
  font-size: 100px;
}
p{
  margin-top: -20px;
  margin-bottom: 20px;
}
img{
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.ex{
  width: 50px;
  height: 50px;
  background-color: black;
}
#fatherDiv{
  margin-top: 50px;
}
