@import "../../../app.component";
h1{
  font-size: 100px;
  color: black;
  text-shadow: $systemWhite 3px 3px 0, $systemWhite -3px -3px 0;
}
p {
  margin-top: -20px;
  margin-bottom: 20px;
  color: black;
  text-shadow: $systemWhite 0 0 5px, $systemWhite 0 0 10px;
}
img{
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.ex{
  width: 50px;
  height: 50px;
  background-color: black;
}
#fatherDiv{
  background-image: url("http://lorempixel.com/1280/720");
  height: calc(100vh - 100px);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
