.fatherDiv{
  padding: 20px;
}
.nameBox{
  margin-right: 100px;
}
.valueBox{
  margin-left: 100px;
}
form{
  margin: 20px;
  width: 60%;
}
.caption{
  font-size: xx-small;
  width: 200px;
  margin: auto 0 0;
}
