<!--<div class="fatherDiv" fxLayout="row" fxLayoutAlign="center center">-->
<!--  <div class="nameBox">-->
<!--    <p>id:</p>-->
<!--    <p>eMail:</p>-->
<!--    <p>First Name:</p>-->
<!--    <p>Last Name:</p>-->
<!--    <p>Gender:</p>-->
<!--    <p>Location:</p>-->
<!--  </div>-->
<!--  <div class="valueBox">-->
<!--    <p>{{responseData?.user.id}}</p>-->
<!--    <p>{{responseData?.user.email}}</p>-->
<!--    <p>{{responseData?.user.fName}}</p>-->
<!--    <p>{{responseData?.user.lName}}</p>-->
<!--    <p>{{responseData?.user.gender}}</p>-->
<!--    <p>{{responseData?.user.location}}</p>-->
<!--  </div>-->
<!--</div>-->
