<div fxLayout="column" fxFlexAlign="center" fxLayoutAlign="center center">

    <form (submit)="onFormSubmit($event)">
      <dx-form id="form"
               [formData]="registerForm"
               [readOnly]="false"
               [showColonAfterLabel]="true"
               [showValidationSummary]="true"
               validationGroup="customerData">

        <dxi-item dataField="HireDate" editorType="dxDateBox" [editorOptions]="{ value: null, width: '100%' }">
          <dxi-validation-rule type="required" message="Hire date is required"></dxi-validation-rule>
        </dxi-item>

        <dxi-item class="option">
          <p>Password</p>
          <dx-text-box mode="password" placeholder="Password">
            <dxi-validation-rule
              type="required"
              message="Required">
            </dxi-validation-rule>
          </dx-text-box>
        </dxi-item>

        <dxi-item class="option">
          <p>Confirm password</p>
          <dx-text-box mode="password" placeholder="Password">
            <dxi-validation-rule
              type="required"
              message="Required">
            </dxi-validation-rule>
          </dx-text-box>
        </dxi-item>

        <dxi-item class="option">
          <p>First name</p>
          <dx-text-box placeholder="First name"></dx-text-box>
        </dxi-item>

        <dxi-item class="option">
          <p>Last name</p>
          <dx-text-box placeholder="Last name"></dx-text-box>
        </dxi-item>

        <dxi-item class="option">
          <p>Location</p>
          <dx-text-box placeholder="Location"></dx-text-box>
        </dxi-item>

        <dxi-item
          itemType="button"
          [buttonOptions]="buttonOptions">
        </dxi-item>

      </dx-form>
    </form>
</div>
